data/
**/__pycache__/
FingerprintGAN/classifier/models/
saved_model/
zip_files/
results/*

Datasets.zip
FingerprintGAN/CramerGAN/models/celebA64x64_g_resnet5_dc_d5-5-1_32_128_lr0.00010000_bn/checkpoint
FingerprintGAN/CramerGAN/models/celebA64x64_g_resnet5_dc_d5-5-1_32_128_lr0.00010000_bn/MMDGAN.model-150000.data-00000-of-00001
FingerprintGAN/CramerGAN/models/celebA64x64_g_resnet5_dc_d5-5-1_32_128_lr0.00010000_bn/MMDGAN.model-150000.index
FingerprintGAN/CramerGAN/models/celebA64x64_g_resnet5_dc_d5-5-1_32_128_lr0.00010000_bn/MMDGAN.model-150000.meta
FingerprintGAN/CramerGAN/models/lsun_bedroom_200k64x64_g_resnet5_dc_d5-5-1_32_128_lr0.00010000_bn/checkpoint
FingerprintGAN/CramerGAN/models/lsun_bedroom_200k64x64_g_resnet5_dc_d5-5-1_32_128_lr0.00010000_bn/MMDGAN.model-150000.data-00000-of-00001
FingerprintGAN/CramerGAN/models/lsun_bedroom_200k64x64_g_resnet5_dc_d5-5-1_32_128_lr0.00010000_bn/MMDGAN.model-150000.data-00000-of-00001
FingerprintGAN/CramerGAN/models/lsun_bedroom_200k64x64_g_resnet5_dc_d5-5-1_32_128_lr0.00010000_bn/MMDGAN.model-150000.index
FingerprintGAN/CramerGAN/models/lsun_bedroom_200k64x64_g_resnet5_dc_d5-5-1_32_128_lr0.00010000_bn/MMDGAN.model-150000.meta
FingerprintGAN/MMDGAN/models/celebA64x64_g_resnet5_dc_mix_rq_1dotd5-5-1_32_128_lr0.00010000_bn/checkpoint
FingerprintGAN/MMDGAN/models/celebA64x64_g_resnet5_dc_mix_rq_1dotd5-5-1_32_128_lr0.00010000_bn/MMDGAN.model-150000.data-00000-of-00001
FingerprintGAN/MMDGAN/models/celebA64x64_g_resnet5_dc_mix_rq_1dotd5-5-1_32_128_lr0.00010000_bn/MMDGAN.model-150000.index
FingerprintGAN/MMDGAN/models/celebA64x64_g_resnet5_dc_mix_rq_1dotd5-5-1_32_128_lr0.00010000_bn/MMDGAN.model-150000.meta
FingerprintGAN/MMDGAN/models/lsun_bedroom_200k64x64_g_resnet5_dc_mix_rq_1dotd5-5-1_32_128_lr0.00010000_bn/checkpoint
FingerprintGAN/MMDGAN/models/lsun_bedroom_200k64x64_g_resnet5_dc_mix_rq_1dotd5-5-1_32_128_lr0.00010000_bn/MMDGAN.model-150000.data-00000-of-00001
FingerprintGAN/MMDGAN/models/lsun_bedroom_200k64x64_g_resnet5_dc_mix_rq_1dotd5-5-1_32_128_lr0.00010000_bn/MMDGAN.model-150000.index
FingerprintGAN/MMDGAN/models/lsun_bedroom_200k64x64_g_resnet5_dc_mix_rq_1dotd5-5-1_32_128_lr0.00010000_bn/MMDGAN.model-150000.meta
FingerprintGAN/SNGAN/models/celeba_align_png_cropped.npz
FingerprintGAN/SNGAN/models/lsun_bedroom_200k_png.npz
FingerprintGAN/classifier/models/CelebA_ProGAN_seed_x10_128.pkl
FingerprintGAN/classifier/models/CelebA_ProGAN_SNGAN_CramerGAN_MMDGAN_128.pkl
FingerprintGAN/classifier/models/LSUN_bedroom_200k_ProGAN_seed_x10_128.pkl
FingerprintGAN/classifier/models/LSUN_bedroom_200k_ProGAN_SNGAN_CramerGAN_MMDGAN_128.pkl
data/
Datasets/
*.pyc
results/

#################### James .gitignore directories
data_prior/
zip/
#################### James .gitignore directories